* {
  font-family: 'Roboto';
}

body {
background-color: #fff;
  
}
.todo-app {
  width: 500px;
  min-height: 250px;
  background: #fff;
  text-align: center;
  margin: 12px auto;
  border-radius: 10px;
  padding: 20px;
  border-style: solid;
  
}

h1 {
  margin: 32px 0;
  color: #000;
  font-size: 24px;
}

.todo-form {
  margin-bottom: 32px;
}

.todo-input::placeholder {
  color: #e2e2e2;
}

.todo-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: #000;
}

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

.delete-icon {
  margin-right: 5px;
  color: #000;
}

.edit-icon {
  color: #000;
}